@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans" , sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5E63BA;
}
.container{
    width: 850px;
    background: #fff;
    display: flex;
    padding: 60px 40px;
    border-radius: 10px;
    align-items: flex-end;
    gap: 70px;
}
.hangman-box img{
    max-width: 270px;
}
.hangman-box h1 {
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.word-display{
    display:flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.word-display .letter{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 28px;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;

}
.word-display .letter.guessed{
    border-color: transparent;
    margin: -40px 0 35px;
}
.game-box h4{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b{
    font-weight: 600;
}
.game-box .guesses-text b{
    color: red;
}
.game-box .keyboard{
    display: flex;
    gap: 5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
:where(.game-modal,.keyboard) button{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background: #5E63BA;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;

}
.keyboard button{
    padding: 7px;
    width: calc(100% /9 - 5px);
}
.keyboard button[disabled]{
    opacity: 0.6;
    pointer-events: none;
}
:where(.game-modal,.keyboard) button:hover{
    background-color: #8286c9;
}
.game-modal{
    position: fixed;
    background: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    padding: 0 10px;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
}
.game-modal.show{
    opacity: 1;
    pointer-events: auto;

}
.game-modal .content{
    background: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}
.game-modal img{
    max-width: 130px;
    margin-bottom: 20px;
}
.game-modal h4{
    font-size: 2.0rem
}
.game-modal p{
    font-size: 1.2rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b{
    color: #5E63BA;
    font-weight: 600;
}
.game-modal button{
    padding: 12px 23px;
}


@media (max-width:799px){
    .container {
        width: 700px;
        padding: 40px 30px;
        flex-direction: column;
        align-items: center;
        
    }

}
@media (max-width:499px){
    .container {
        width: 350px;
        padding: 20px 15px;
        
    }
   
}